/* Tema Escuro */
body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Navbar escura */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #1E1E1E; /* Cinza escuro */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

/* Ajuste de navegação */
.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-menu a {
    color: #e0e0e0; /* Texto claro */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #007BFF; /* Azul claro para hover */
}

/* Conteúdo principal */
.main-content {
    padding-top: 80px; /* Ajustado conforme o tamanho da navbar */
}

/* Avatar do usuário */
.userInfo .userAvatar {
    width: 40px;
    margin-right: 2%;
    border-radius: 50%;
    border: 2px solid #007BFF; /* Azul para destacar */
}

/* Container da Navbar */
.navBarContainer {
    position: sticky;
    top: 0;
    background-color: #1E1E1E;
}

/* Container dos cards */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;
}

/* Estilização dos cards */
.cardGames {
    background-color: #111; /* Um tom mais claro que o fundo para destacar */
    border-radius: 8px;
    border: 2px solid #FFD700; /* Dourado */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    width: 18rem;
    transition: transform 0.3s;
}

.cardGames:hover {
    transform: scale(1.05);
}

/* Conteúdo do card */
.card-body {
    padding: 15px;
}

.card-title {
    font-size: 14px;
    text-shadow: 2px 2px #FF4500;
}

.card-text {
    font-size: 12px;
    color: #bdc3c7;
}

/* Rodapé do card */
.cardFooter {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Botões */
.button {
    background-color: #FF4500; /* Laranja */
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #FFD700; /* Dourado */
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background-color: #b33c00;
}

/* Responsividade */
@media (max-width: 768px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
    }
}
